@media print  {
    .wrapper {
      max-width: 0;
      border: none;
    }
   body {
     background:#fff;
    
   
   }
   input {
     border: none;
   }
  
   img {
     display: none;
   }
  
  
  }