@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito&family=Poppins:wght@300;400;600&family=Roboto:wght@100;400;500&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}



header div {
  display: flex;
  flex-direction: column;


}

html {
  font-size: 16px;
}

.inputfield {
  margin: 2px;
}

p {
  text-align: center;

  font-size: 15px;
  font-weight: 500;
}

img {
  width: 50px;
  height: 50px;
  float: left;
}

.participante {
  font-weight: bold;
}

h1,
span {
  text-align: center;


}



h2 {
  text-align: left;
  padding: 1px 0 1px;

  /*   border: 1px solid; */
}

/* .steps {
  border: 1px solid;
} */
.title {
  background-color: #EBEAEC;
}

.wrapper {
  max-width: 1100px;
  min-width: 50%;
  height: 80%;
  background: var(--wrapper-bg-color);
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  z-index: 10;

}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
  padding-bottom: 5px;

}

input {
  border: none;
  padding: 3px 0 3px 0;
}

label {
  font-weight: bold;
}

.aprovacoes {
  padding-top: 15px;
}

.assinaturas-title {
  font-weight: bold;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;

}

.informacao {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  border-top: 3px solid;
  padding: 18px;
}


.tema {
  font-weight: bold;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid;
}

@media print {
  button, input {
    display: none;
  }

  .inputfield {
    margin: 0;
    padding: 5;
  }
}